doctype html
html(lang='pt-br')
  head
    - var title = 'Simple Boilerplate'
    - var description = 'This project is a simple boilerplate structure for generating static websites using with Pug, Sass, ES6, Browsersync and Gulp.'
    title= title
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible' content='ie=edge')
    meta(name='description' content= description)
    meta(name='viewport' content='width=device-width, initial-scale=1.0')
    meta(name='robots' content='index,folow')
    link(rel='icon' type='image/png'  href='img/favicon.png')
    link(rel='stylesheet' href='css/style.css')

  body
    .wrapper
      include ./../partials/header.pug

      block content

      include ./../partials/footer.pug

    script(src='js/script.js')
