@import 'settings/**/*'
@import 'tools/**/*'
@import 'generic/**/*'
@import 'base/**/*'
@import 'objects/**/*'
@import 'components/**/*'
@import 'trumps/**/*'

@import 'kouto-swiss'
@import 'jeet'
normalize()
box-sizing-reset()

.container
    align(both)
