doctype html
html(lang='pt-br')
  head
    - var title = 'Simple Boilerplate'
    - var description = 'This project is a simple boilerplate structure for generating static websites and uses ES6, Pug, Stylus, Gulp and Browsersync.'
    title= title
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible' content='ie=edge')
    meta(name='description' content= description)
    meta(name='viewport' content='width=device-width, initial-scale=1.0')
    meta(name='robots' content='index,folow')
    link(rel='icon' type='image/png'  href='assets/img/favicon.png')
    link(rel='stylesheet' href='assets/css/style.css')

  body
    include ./../partials/header.pug

    main
      block content

    include ./../partials/footer.pug

    script(src='assets/js/script.js')
